<!DOCTYPE html>
<html>
<head>
    <title>MarktPlatz</title>
</head>
<body>
    <h1>Welcome To MarktPlatz</h1>
    <br><br>

    <h3><a href="/user/login">User</a></h3>
    <br>
    <h3><a href="/company/login">Company</a></h3>
</body>
</html>